@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.mobile-fix-100vh {
  min-height: -webkit-fill-available;
}

.RichTextEditor__root___2QXK- {
  border: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif
}

.markdown-viewonly .RichTextEditor__root___2QXK- .RichTextEditor__editor___1QqIU .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content {
  margin: 0;
  padding: 0;
}

.yt-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.yt-iframe-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* 
.public-DraftEditor-content {
  padding: 0px;
}

.custom-rte-editor-style {
  color: white;
  /* background: green;
  border: none;
}

/* RichTextEditor Button SVGs
.IconButton__icon___3YgOS {
  filter: invert(100%);
} */