@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.mobile-fix-100vh {
  min-height: -webkit-fill-available;
}
