/* 
.RichTextEditor__root___2QXK- {
  color: white;
  background: none;
  border: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif
}

.markdown-viewonly .RichTextEditor__root___2QXK- .RichTextEditor__editor___1QqIU .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content {
  margin: 0;
  padding: 0;
  background: none;
  color: white;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}

.custom-rte-editor-style {
  color: white;
  /* background: green;
  border: none;
}

/* RichTextEditor Button SVGs 
.IconButton__icon___3YgOS {
  filter: invert(100%);
} */